# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environnements virtuels
venv/
env/
.venv/
Liver/

# Modèles lourds
*.pth
*.pt
*.onnx

# NIfTI médicaux
*.nii
*.nii.gz

# FastAPI
*.log

# Node
node_modules/
npm-debug.log
package-lock.json

# Streamlit
.streamlit/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Temp
tmp/
temp/