# Données médicales (trop lourdes)
datasets/
preprocessed/
*.nii
*.nii.gz
*.dcm

# Modèles entraînés
*.pth
*.pt

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Environnement conda
env/
dicom_env/

# OS
.DS_Store
Thumbs.db
